<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<h1>Account Page</h1>
	<h2>Hello, <%= user.displayName %>.</h2>
	<p>ID: <%= user.id %></p>
	<p>Name: <%= user.displayName %></p>
	</body>
</html>

