
<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<h1>Account Page</h1>
	<h2>Welcome! Please <a href="/auth/google">Login with Google</a></h2>
	</body>
</html>
