// Colors
whitesmoke     = #F5F5F5
standishgreen  = #C2D3BD
gainsboro      = #DCDCDC
sienna         = #A0522D
darkgray       = #A9A9A9
lightgray      = #EFEFEF
lightsalmon    = #FFA07A
dimgray        = #696969
coral          = #FF7F50
standishgray   = #4D4D4D
standishyellow = #DFE133
beige          = #F5F5DC
standishgold   = #C5AC29 

/* RGB Colors / // Not updated with missing colors
whitesmoke     = rgb( 245, 245, 245 )
standishgreen  = rgb( 197, 211, 189 )
gainsboro      = rgb( 220, 220, 220 )
sienna         = rgb( 160, 82,  45  )
darkgray       = rgb( 169, 169, 169 )
lightsalmon    = rgb( 255, 160, 122 )
dimgray        = rgb( 255, 160, 122 )
coral          = rgb( 255, 127, 80  )
standishgray   = rgb( 77,  77,  77  )
standishyellow = rgb( 197, 211, 189 )
beige          = rgb( 245, 245, 220 )
standishgold   = rgb( 197, 211, 189 )
*/

// Background Color Classes
.whitesmoke
	background-color: whitesmoke
.standishgreen
	background-color: standishgreen
.gainsboro
	background-color: gainsboro
.sienna
	background-color: sienna
.lightgray
	background-color: lightgray
.darkgray
	background-color: darkgray
.lightsalmon
	background-color: lightsalmon
.dimgray
	background-color: dimgray
.coral
	background-color: coral
.standishgray
	background-color: standishgray
.standishyellow
	background-color: standishyellow
.beige
	background-color: beige
.standishgold
	background-color: standishgold

// Text Color Classes
.whitesmoke-text
	color: whitesmoke
.standishgreen-text
	color: standishgreen
.gainsboro-text
	color: gainsboro
.sienna-text
	color: sienna
.lightgray-text
	color: lightgray
.darkgray-text
	color: darkgray
.lightsalmon-text
	color: lightsalmon
.dimgray-text
	color: dimgray
.coral-text
	color: coral
.standishgray-text
	color: standishgray
.standishyellow-text
	color: standishyellow
.beige-text
	color: beige
.standishgold-text
	color: standishgold
